/**SPLASHBILLEDE**/
#splash {
  grid-column: 1/4;
  width: 100%;
  height: 36vh;
  background-size: cover;
  background-position: 70%;
  display: grid;
  place-content: space-around;
  background-image: url(img/Splash.jpg);
}

.forside_splash_tekst {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #5c6f49;
  font-family: anton, sans serif;
  text-align: center;
  margin-top: 0px;
  background-color: rgba(138, 138, 138, 0.486);
  padding: 18px;
}

/*Tekst_indhold - 1. sektion - mobile*/
#tekst_indhold {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 25px;
}
#tekst_indhold {
  grid-column: 1/4;
  margin: 50px;
  font-family: montserrat, sans-serif;
}

#tekst_indhold .tp1 {
  grid-column: 1/3;
  line-height: 1.4;
  text-align: center;
}
#tekst_indhold img {
  height: 40vw;
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 120px;
  margin-top: 10px;
}

#tekst_indhold .tp2 {
  grid-column: 1/3;
  line-height: 1.4;
  text-align: center;
}

#tekst_indhold p {
  grid-column: 1/2;
  line-height: 1.4;
  text-align: center;
}
/*Tekst_indhold - 1. sektion - Mobil - SLUT*/

/*galleri_indhold - 2. sektion - Mobil*/
.overskrift {
  border-bottom: 2px solid black;
  padding: 15px;

  font-size: 15px;
}

#galleri_indhold .wrapper img {
  display: block;
  width: 100%;
}

#galleri_indhold .wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  padding: 50px;
}

.so {
  grid-row: 1 / 4;
}
/*galleri_indhold - 2. sektion - Mobil - SLUT*/

/*ikoner_indhold - 3. sektion - Mobil*/
#ikoner_indhold .ikoner_wrapper img {
  height: 50px;
}
#ikoner_indhold .ikoner_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  padding-top: 0px;
  text-align: center;
}

h5 {
  font-family: montserrat;
}

.overskrift_ikon {
  margin-bottom: 30px;
  font-size: 15px;
}
/*ikoner_indhold - 3. sektion - Mobil - SLUT*/

/*insta_indhold - 4. sektion*/
h2 {
  text-align: center;
  margin-top: 60px;
  font-family: montserrat, sans-serif;
}

.overskrift2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 15px;

  font-size: 15px;
  font-family: montserrat, sans-serif;
}

#insta_indhold .insta_wrapper img {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0px;
}

#insta_indhold .insta_wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

/*TABLET STARTER*/
@media (min-width: 768px) {
  /**SPLASHBILLEDE - Tablet**/
  #splash {
    grid-column: 1/4;
    width: 100%;
    height: 66vh;
    background-size: cover;
    background-position: 100% 55%;
    display: grid;
    place-content: space-around;
    background-image: url(img/Splash.jpg);
  }

  /*Tekst_indhold - 1. sektion - Tablet*/
  #tekst_indhold {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 25px;
  }
  #tekst_indhold {
    grid-column: 2 / 2;
  }

  #tekst_indhold p {
    grid-column: 2/2;
    margin-left: none;
    margin-top: none;
  }

  #tekst_indhold .tp1 {
    grid-column: 2/2;
    line-height: 1.4;
    text-align: center;
  }

  #tekst_indhold .tp2 {
    grid-column: 2/2;
    line-height: 1.4;
    text-align: center;
  }

  #tekst_indhold img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: none;
    margin-top: none;
  }
  /*Tekst_indhold - 1. sektion - Tablet - SLUT*/

  /*galleri_indhold - 2. sektion - Tablet*/
  .overskrift {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    font-size: 23px;
  }

  .overskrift2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px;
    margin-top: 55px;
    font-size: 30px;
  }

  #galleri_indhold .wrapper img {
    display: block;
    width: 100%;
  }

  #galleri_indhold .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding: 50px;
  }

  .so {
    grid-row: 1 / 4;
  }
  /*galleri_indhold - 2. sektion - Tablet - SLUT*/

  /*ikoner_indhold - 3. sektion - Tablet*/
  #ikoner_indhold .ikoner_wrapper img {
    height: 80px;
  }
  #ikoner_indhold .ikoner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;

    padding-top: 0px;
  }

  .overskrift_ikon {
    font-size: 30px;
  }

  /*ikoner_indhold - 3. sektion - Tablet - SLUT*/

  /*insta_indhold - 4. sektion*/
  h2 {
    text-align: center;
    margin-top: 60px;
  }

  #insta_indhold .insta_wrapper img {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0px;
  }

  #insta_indhold .insta_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 14px;
    padding: 103px;
  }
}

/**Desktop starter**/
@media (min-width: 1200px) {
  #splash {
    grid-column: 1/4;
    width: 100%;
    height: 66vh;
    background-size: cover;
    background-position: 100% 55%;
    display: grid;
    place-content: space-around;
    background-image: url(img/Splash.jpg);
  }

  .forside_splash_tekst {
    font-size: 33px;
  }

  /*Tekst_indhold - 1. sektion - Desktop*/
  #tekst_indhold {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 0px;
  }
  #tekst_indhold {
    grid-column: 2 / 3;
    margin-top: 80px;
  }

  #tekst_indhold .tp1 {
    grid-column: 1/1;
  }
  #tekst_indhold img {
    grid-column: 2/2;
    grid-row: 1/3;
    height: 85%;
  }

  #tekst_indhold .tp2 {
    grid-column: 3/3;
  }

  #tekst_indhold p {
    margin-top: 30px;
    font-family: montserrat, sans-serif;
    font-size: 1.2rem;
  }

  /*galleri_indhold - 2. sektion - Desktop*/
  .overskrift {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px;
    margin-top: -40px;
    font-size: 30px;
  }

  #galleri_indhold .wrapper img {
    display: block;
    width: 100%;
  }

  #galleri_indhold .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 46px;
    padding: 100px;
    margin-top: -60px;
  }

  .so {
    grid-row: 1 / 4;
  }

  /*ikoner_indhold - 3. sektion - Desktop*/
  #ikoner_indhold .ikoner_wrapper img {
    height: 75px;
  }

  #ikoner_indhold .ikoner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;

    padding-top: 0px;
  }

  h5 {
    font-family: montserrat;
  }

  /*insta_indhold - 4. sektion - Desktop*/

  h2 {
    text-align: center;
    margin-top: 60px;
  }

  #insta_indhold .insta_wrapper img {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
  }

  #insta_indhold .insta_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 14px;
    padding: 103px;
    margin-top: -65px;
  }

  .overskrift2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px;

    margin-top: 55px;
    font-size: 30px;
  }
}
