* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*MENUBAR - MOBILE*/
/*Burgermenu*/
.burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  z-index: 100;
}

.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
}

/*NavBar*/
.navbar {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 91%;
  height: 40px;
  transition: transform 0.3s;
}

.navbar ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;

  list-style: none;
  flex-direction: column;
  margin: 35px;
}

.navbar .navbarLinks {
  position: fixed;
  top: 75px;
  left: 55%;
  width: 45vw;
  height: 27vh;
  display: none;
}

nav .navbarLinks.aktiv {
  display: block;
  background-color: #5c6f49;
}

.navbar .navbarLinks li {
  list-style: none;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: white;
}

/*Header*/
header {
  display: none;
  transition-delay: 2s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 1rem 1.5rem;
  gap: 20px;
  background-color: #5c6f49;
}

a {
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  color: white;
}

header img {
  width: 40vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: 27;
  margin-left: 14px;
  margin-top: 0px;
}

#menu a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  padding: 5px;
  font-family: anton, sans-serif;
}

li {
  list-style: none;
}
/*MENUBAR - MOBILE - SLUT*/

/**SPLASHBILLEDE**/

#splash {
  grid-column: 1/4;
  width: 100%;
  height: 36vh;
  background-size: cover;
  background-position: 70%;
  display: grid;
  place-content: space-around;
  background-image: url(img/Splash.jpg);
}

/*Tekst_indhold - 1. sektion - mobile*/
#tekst_indhold {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  grid-template-rows: 1fr 1fr;
}
#tekst_indhold {
  grid-column: 1/4;
  margin: 50px;
  font-family: montserrat, sans-serif;
}

#tekst_indhold .tp1 {
  grid-column: 1/2;
  line-height: 1.4;
  text-align: center;
}
#tekst_indhold img {
  height: 40vw;
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 85px;
  margin-top: 10px;
}

#tekst_indhold .tp2 {
  grid-column: 1/2;
  line-height: 1.4;
  text-align: center;
}

#tekst_indhold p {
  grid-column: 1/2;
  line-height: 1.4;
  text-align: center;
}

/*Tekst_indhold - 1. sektion - Mobil - SLUT*/

/*galleri_indhold - 2. sektion - Mobil*/
.overskrift {
  border-bottom: 2px solid black;
  padding: 15px;
  width: 65%;
  margin-left: 70px;
  font-size: 15px;
}

#galleri_indhold .wrapper img {
  display: block;
  width: 100%;
}

#galleri_indhold .wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  padding: 50px;
}

.so {
  grid-row: 1 / 4;
}
/*galleri_indhold - 2. sektion - Mobil - SLUT*/

/*ikoner_indhold - 3. sektion - Tablet*/
#ikoner_indhold .ikoner_wrapper img {
  display: block;
  width: 50%;
  height: 80px;
  padding: 5px;
  margin: 9px;
}
#ikoner_indhold .ikoner_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  padding-left: 60px;
  padding-top: 0px;
  padding-right: 10px;
}

/*insta_indhold - 4. sektion*/

h2 {
  text-align: center;
  margin-top: 60px;
  font-family: montserrat, sans-serif;
}

.overskrift2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 15px;
  width: 65%;
  margin-left: 70px;
  font-size: 15px;
  font-family: montserrat, sans-serif;
}

#insta_indhold .insta_wrapper img {
  display: block;
  width: 85%;
  height: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

#insta_indhold .insta_wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 14px;
}

/**Footer - starter**/
footer {
  background-color: #5c6f49;
  color: white;
  display: flex;
  padding: 23px;
  font-size: 0.6rem;
  gap: 10px;
  font-family: montserrat, sans-serif;
}

footer img {
  width: 33vw;
}
footer .social img {
  width: 4vw;
  text-align: end;
}

footer p {
  font-size: 10px;
}

footer #footer {
  gap: 45px;
}

footer .p1 {
  margin-right: -13px;
}

@media (min-width: 768px) {
  .burgerButton {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 1rem 1.5rem;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 0.6rem;
    font-weight: 400;
    gap: 20px;
  }

  .navbar .navbarLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .navbar .navbarLinks {
    position: fixed;
    top: -7%;
    left: 55%;
    width: 45vw;
    height: 27vh;
  }

  .navbar ul {
    flex-direction: row;
  }

  header img {
    width: 17vw;
  }

  a {
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    color: white;
  }

  header img {
    width: 17vw;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    gap: 40px;
  }

  #menu a {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    padding: 5px;
  }

  li {
    list-style: none;
  }

  /**SPLASHBILLEDE**/

  #splash {
    grid-column: 1/4;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 70%;
    display: grid;
    place-content: space-around;
    background-image: url(img/Splash.jpg);
  }

  /*Tekst_indhold - 1. sektion - Tablet*/
  #tekst_indhold {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
  }
  #tekst_indhold {
    grid-column: 2 / 3;
    margin: 135px;
  }

  #tekst_indhold p {
    grid-column: 2/2;
    margin-left: none;
    margin-top: none;
  }
  #tekst_indhold img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: none;
    margin-top: none;
  }
  /*Tekst_indhold - 1. sektion - Tablet - SLUT*/

  /*galleri_indhold - 2. sektion - Tablet*/
  .overskrift {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 10px;
  }

  #galleri_indhold .wrapper img {
    display: block;
    width: 100%;
  }

  #galleri_indhold .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    padding: 50px;
  }

  .so {
    grid-row: 1 / 4;
  }
  /*galleri_indhold - 2. sektion - Tablet - SLUT*/

  /*ikoner_indhold - 3. sektion - Tablet*/
  #ikoner_indhold .ikoner_wrapper img {
    display: block;
    width: 50%;
    height: 80px;
    padding: 5px;
    margin: 9px;
  }
  #ikoner_indhold .ikoner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    padding-left: 60px;
    padding-top: 0px;
    padding-right: 10px;
  }

  /*insta_indhold - 4. sektion*/

  h2 {
    text-align: center;
    margin-top: 60px;
  }

  #insta_indhold .insta_wrapper img {
    display: block;
    width: 50%;
    height: 75px;
    padding: 10px;
    margin: 10px;
  }

  #insta_indhold .insta_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 14px;
    padding: 103px;
  }

  /**Footer - starter**/
  footer {
    background-color: #5c6f49;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 0.6rem;
    gap: 10px;
  }

  footer img {
    width: 20vw;
  }
  footer .social img {
    width: 4vw;
    text-align: end;
  }

  footer p {
    font-size: 16px;
  }

  footer #footer {
    gap: 45px;
  }

  footer .p1 {
    margin-left: 200px;
  }
}

@media (min-width: 1200px) {
  #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    font-size: 0.6rem;
    font-weight: 400;
    gap: 20px;
  }

  #splash {
    grid-column: 1/4;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 22% 47%;
    display: grid;
    place-content: space-around;
    background-image: url(img/Splash.jpg);
  }

  /*Tekst_indhold - 1. sektion*/
  #tekst_indhold {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 0px;
  }
  #tekst_indhold {
    grid-column: 2 / 3;
    margin-top: 120px;
  }

  #tekst_indhold .tp1 {
    grid-column: 1/1;
  }
  #tekst_indhold img {
    grid-column: 2/2;
    grid-row: 1/3;
    margin-left: 125px;
    height: 350px;
  }

  #tekst_indhold .tp2 {
    grid-column: 3/3;
  }

  #tekst_indhold p {
    margin-top: 30px;
    font-family: montserrat, sans-serif;
    font-size: 1.2rem;
  }

  /*galleri_indhold - 2. sektion*/
  .overskrift {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px;
    width: 50%;
    margin-left: 350px;
    margin-top: -40px;
    font-size: 30px;
  }

  #galleri_indhold .wrapper img {
    display: block;
    width: 100%;
  }

  #galleri_indhold .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 46px;
    padding: 100px;
    margin-top: -60px;
  }

  .so {
    grid-row: 1 / 4;
  }

  /*ikoner_indhold - 3. sektion*/
  #ikoner_indhold .ikoner_wrapper img {
    display: block;
    width: 50%;
    height: 75px;
    padding: 10px;
    margin: 10px;
  }
  #ikoner_indhold .ikoner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    padding-left: 110px;
    padding-top: 0px;
    padding-right: 10px;
    margin-top: -75px;
  }

  /*insta_indhold - 4. sektion*/

  h2 {
    text-align: center;
    margin-top: 60px;
  }

  #insta_indhold .insta_wrapper img {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
  }

  #insta_indhold .insta_wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 14px;
    padding: 103px;
    margin-top: -65px;
  }

  .overskrift2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px;
    width: 50%;
    margin-left: 350px;
    margin-top: 55px;
    font-size: 30px;
  }
  /**Footer - starter**/
  footer {
    background-color: #5c6f49;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 0.6rem;
    gap: 10px;
  }

  footer img {
    width: 12vw;
  }
  footer .social img {
    width: 4vw;
    text-align: end;
  }

  footer p {
    font-size: 14px;
  }

  footer #footer {
    gap: 45px;
  }

  footer .p1 {
    margin-left: 845px;
  }
}

/* main {
  background-image: url(img/Splash.jpg);
  grid-column: 1/4;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 61% 10%;
  display: grid;
  place-content: space-around;
}

/* header {
  display: flex;
  justify-content: right;
  padding: 1rem 1rem;
}

header nav ul {
  gap: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 50px;
  margin-right: 25px;
  margin-top: 25px;
}

li {
  list-style: none;
} */

/*Burgermenu*/
/* .burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  z-index: 100;
}

.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
} */

/*NavBar*/
/* .navbar {
  z-index: 10;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
  height: 100px;
  transition: transform 0.3s;
}

.navbar ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;

  list-style: none;
  flex-direction: column;
  margin: 35px;
}

.navbar .navbarLinks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

nav .navbarLinks.aktiv {
  display: block;
  background-color: grey;
}

.navbar .navbarLinks li {
  list-style: none;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: white;
} */

/*Sektion1*/
/* section #tekst_indhold {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

section #tekst_indhold p {
  grid-column: 1 / -1;
  margin: 70px;
  text-align: center;
  margin: 25px;
}

section #tekst_indhold img {
  grid-row: 1 /2;
  margin-top: -70px;
  margin-left: 15px;
  height: 75%;
  place-content: center;
  text-align: center;
  margin-left: 150px;
} */

/*galleri_indhold*/
/* h2 {
  text-align: center;
}
#galleri_indhold .section_wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 4px;
  padding: 17px;
  margin: 5px;
  gap: 27px;
}
#galleri_indhold img {
  display: block;
  width: 100%;
}

#img1 {
  grid-column: 1;
  grid-row: 1/3;
}
#img1 img {
  height: 230px;
}

img2 {
}

#img3 {
  grid-row: 2/-1;
} */

/*Ikoner*/
/* #ikoner_indhold {
  display: flex;
  width: 10%;
  height: auto;
  margin: 20px;
  gap: 100px;
  flex-wrap: wrap;
} */

/*Instagram*/

/* #insta_indhold {
  margin-bottom: 245px;
}

#insta_indhold img {
  width: 25%;
  height: auto;
}

#insta_indhold .ko {
  position: absolute;
  left: 35px;
  top: 1820px;
}

#insta_indhold .bro {
  position: absolute;
  left: 110px;
  top: 1886px;
}

#insta_indhold .aflang {
  position: absolute;
  left: 183px;
  top: 1840px;
}
#insta_indhold .stie {
  position: absolute;
  left: 275px;
  top: 1872px;
} */

/*Overlay*/
/* .img_txt {
  display: grid;
}

.img_txt .img1 {
  grid-column: 1;
  grid-row: 1/3;
}

.img_txt .img3 {
  grid-row: 2/-1;
}

.img_txt p {
  grid-area: 1/1;
  margin: auto;
}
.img {
  filter: grayscale(0.5);
  transition: ease-out 250ms;
}

.img:hover {
  filter: none;
} */

/*Footer*/
/* 
footer {
  width: 100%;
  height: 100px;
  /* display: flex; */
/* justify-content: space-between;
  background-color: #5c6f49;
}

footer h3 {
  font-size: 14px;
  text-align: end;
  margin-right: 30px;
  color: white;
} */

/* footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-size: 0.8em;
  color: white;
  background-color: #5c6f49;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
} */

/* footer img {
  height: 45%;
  margin-top: 20px;
  margin-left: 15px;
} */

/* footer img {
  padding: 22px;
  text-align: left;
} */
/* 
@media (min-width: 1100px) {
  section #tekst_indhold {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #img1 img {
    height: auto;
  }

  #tekst_indhold .svg {
    height: 100%;
  }

  #insta_indhold {
    margin-bottom: 730px;
  }

  #insta_indhold img {
    width: 25%;
    height: auto;
  }

  #insta_indhold .ko {
    position: absolute;
    left: 35px;
    top: 2780px;
  }

  #insta_indhold .bro {
    position: absolute;
    left: 333px;
    top: 2703px;
  }

  #insta_indhold .aflang {
    position: absolute;
    left: 643px;
    top: 2800px;
  }

  #insta_indhold .stie {
    position: absolute;
    left: 989px;
    top: 2750px;
  } */

/* #ikoner_indhold {
    display: flex;
    width: 7%;
    height: auto;
    margin: 52px;
    gap: 145px;
  } */
/* } */
