* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* lav mobile first */
#section_om_os {
  gap: 20px;
  text-align: center;
}

#section_om_os p {
  margin: 50px;
}

.splash {
  grid-column: ;
  grid-row: ;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 70%;
  display: grid;
  place-content: space-around;
  background-image: url(img/Splash.jpg);
}

/* .splashTekst {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} */

.tekst_om {
  grid-column: ;
  grid-row: ;
  color: white;
}

.tekst_os {
  grid-column: ;
  grid-row: ;
  color: white;
}

h2 {
  font-size: 5.5rem;
  font-family: anton, sans-serif;
}

p {
  font-family: montserrat, sans serif;
  line-height: 1.4;
  text-align: left;
}

/*  */
@media (min-width: 700px) {
  #section_om_os {
    gap: 20px;
    text-align: center;
  }

  #section_om_os p {
    margin: 50px;
  }

  .splash {
    grid-column: 1/4;
    grid-row: 1/6;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 70%;
    display: grid;
    place-content: space-around;
    background-image: url(img/Splash.jpg);
  }

  .splashTekst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .tekst_om {
    grid-column: 1/2;
    grid-row: 2/6;
    color: white;
  }

  .tekst_os {
    grid-column: 3/4;
    grid-row: 2/6;
    color: white;
  }

  h2 {
    font-size: 5.5rem;
    padding-top: 22px;
    font-family: anton, sans-serif;
  }

  .indhold_ikon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
  }

  .indhold_ikon img {
    display: block;
    width: 50%;
    height: 80px;
    padding: 5px;
    margin: 9px;
  }

  .indhold_1 {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-top: 20px;
  }

  .indhold_2 {
    grid-column: 2/3;
    grid-row: 2/6;
  }

  .ikon_kikkert {
    grid-column: 1/2;
    grid-row: 1/3;
    transform: rotate(-20deg);
  }

  .ikon_telt {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .ikon_bål {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .ikon_trold {
    grid-column: 3/4;
    grid-row: 3/5;
    transform: rotate(20deg);
  }
}
