* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

/*Burgermenu*/
.burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  z-index: 100;
}

.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
}

/*NavBar*/
.navbar {
  z-index: 10;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
  height: 100px;
  transition: transform 0.3s;
}

.navbar ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;

  list-style: none;
  flex-direction: column;
  margin: 35px;
}

.navbar .navbarLinks {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 45vw;
  height: 27vh;
  display: none;
}

nav .navbarLinks.aktiv {
  display: block;
  background-color: #5c6f49;
}

.navbar .navbarLinks li {
  list-style: none;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: white;
}

/*Header*/
header {
  display: none;
  transition-delay: 2s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 1rem 1.5rem;
  gap: 20px;
  background-color: #5c6f49;
}

a {
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  color: white;
}

header img {
  width: 32vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 27;
  margin-left: 14px;
  margin-top: 0px;
}

#menu a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  padding: 5px;
  font-family: anton, sans-serif;
}

li {
  list-style: none;
}

/* mobile */
#section_om_os {
  gap: 20px;
  text-align: center;
}

#section_om_os p {
  margin: 50px;
  display: grid;
}

.splash {
  width: 200%;
  height: 33vh;
  background-size: cover;
  background-position: 70%;
  place-content: space-around;
  background-image: url(img/venner.jpg);
  grid-column: 1/2;
  grid-row: 1/2;
}

.splashTekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.tekst_om {
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  margin-left: 90px;
}

.tekst_os {
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
  margin-right: 90px;
}

h2 {
  font-size: 3.5rem;
  font-family: anton, sans-serif;
}

p {
  font-family: montserrat, sans serif;
  line-height: 1.4;
  text-align: left;
}

.ikon_kikkert {
  display: none;
}

.ikon_telt {
  display: none;
}

.ikon_bål {
  display: none;
}

.ikon_trold {
  display: none;
}

/* ************media media media media************* */
@media (min-width: 700px) {
  #section_om_os {
    gap: 20px;
    text-align: center;
  }

  #section_om_os p {
    margin: 50px;
  }

  .splash {
    grid-column: 1/4;
    grid-row: 1/6;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 70%;
    display: grid;
    place-content: space-around;
    background-image: url(img/venner.jpg);
  }

  .splashTekst {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .tekst_om {
    grid-column: 1/2;
    grid-row: 2/6;
    color: white;
  }

  .tekst_os {
    grid-column: 3/4;
    grid-row: 2/6;
    color: white;
  }

  h2 {
    font-size: 5.5rem;
    padding-top: 22px;
    font-family: anton, sans-serif;
  }

  .indhold_ikon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
  }

  .indhold_ikon img {
    display: block;
    width: 50%;
    height: 80px;
    padding: 5px;
    margin: 9px;
  }

  .indhold_1 {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-top: 20px;
  }

  .indhold_2 {
    grid-column: 2/3;
    grid-row: 2/6;
  }

  .ikon_kikkert {
    grid-column: 1/2;
    grid-row: 1/3;
    transform: rotate(-20deg);
  }

  .ikon_telt {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .ikon_bål {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .ikon_trold {
    grid-column: 3/4;
    grid-row: 3/5;
    transform: rotate(20deg);
  }
}
