* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*MENUBAR - MOBILE*/
/*Burgermenu*/
.burgerButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  z-index: 100;
}

.streg1 {
  position: absolute;
  top: 50%;
  transform: translateY(-0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg1.aktiv {
  transform: translateY(0) rotate(-45deg);
}

.streg2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg2.aktiv {
  opacity: 0;
}

.streg3 {
  position: absolute;
  top: 50%;
  transform: translateY(0.5rem);
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: transform 1s;
}

.streg3.aktiv {
  transform: translateY(0) rotate(45deg);
}

/*NavBar*/
.navbar {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 91%;
  height: 40px;
  transition: transform 0.3s;
}

.navbar ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;

  list-style: none;
  flex-direction: column;
  margin: 35px;
}

.navbar .navbarLinks {
  position: fixed;
  top: 75px;
  left: 55%;
  width: 45vw;
  height: 27vh;
  display: none;
}

nav .navbarLinks.aktiv {
  display: block;
  background-color: #5c6f49;
}

.navbar .navbarLinks li {
  list-style: none;
}

.navbar .navbarLinks li a {
  text-decoration: none;
  color: white;
}

/*Header*/
header {
  display: none;
  transition-delay: 2s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 1rem 1.5rem;
  gap: 20px;
  background-color: #5c6f49;
}

a {
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  color: white;
}

header img {
  width: 40vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: 27;
  margin-left: 14px;
  margin-top: 0px;
}

#menu a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  padding: 5px;
  font-family: anton, sans-serif;
}

li {
  list-style: none;
}
/*MENUBAR - MOBILE - SLUT*/

#galleri h2 {
  color: black;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section .splashbillede {
  display: none;

  gap: 20px;
  max-width: auto;
  width: 100vw;
  margin: 0 auto;
}

.center {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

#liste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1500px;
  width: 90vw;
  margin: 0 auto;
}

article {
  /* border: 2px solid rgb(0, 0, 0); */
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
}

#nav_filtrer {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: anton, sans-serif;
  margin-bottom: 6px;
  color: white;
}

h3 {
  text-align: center;
  margin: 20px;
  font-family: montserrat, sans-serif;
}

#nav_filtrer {
  display: block;
  justify-content: center;
  font-size: 39px;
  gap: 100px;
  margin-top: 25px;
}

#nav_filtrer button {
  font-size: 20px;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 21px;
  padding: 10px;
}

.valgt {
  background-color: #5c6f49;
}
p {
  margin-top: 20px;
}

#galleri:hover .image {
  opacity: 0.3;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.overlay {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(37, 135, 65, 0.5); /* Black see-through */
  color: #5c6f49;
  width: 100%;
  color: #5c6f49;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#galleri:hover .overlay {
  opacity: 1;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 70px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  overflow: scroll;
}

#popup article {
  width: auto;
  display: block;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: #5c6f49;
}

#popup article .image {
  padding: 30px;
}

#popup .image {
  grid-column: 1/2;
  grid-row: 1/4;
}

#popup .ikon_wrapper img {
  height: 3.5rem;
}

/**IKONER TIL POPUP**/
#popup .kort {
  grid-row: 2;
}

#popup .ikon_wrapper {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

/**Defination af ikoner**/
.ikon_wrapper .tidP {
  grid-column: 1/2;
  grid-row: 1/2;
}

.ikon_wrapper .bålP {
  grid-column: 2/3;
  grid-row: 1/2;
}

.ikon_wrapper .shelterP {
  grid-column: 3/4;
  grid-row: 1/2;
}

.ikon_wrapper .kikkertP {
  grid-column: 1/2;
  grid-row: 2/2;
}

.ikon_wrapper .troldP {
  grid-column: 2/3;
  grid-row: 2/2;
}
.ikon_wrapper .skibP {
  grid-column: 3/4;
  grid-row: 2/2;
}

/**TEKSTER TIL POPUP**/
#popup h2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

#popup p {
  color: white;
  font-family: montserrat, sans-serif;
}

#popup h4 {
  font-family: montserrat, sans-serif;
  text-align: center;
  color: white;
}

#popup .kortbeskrivelse {
  grid-column: 2/3;
  grid-row: 1/4;
  margin-top: 0px;
  text-align: center;
}

#popup .km {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 40px;
}

#popup .tid {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 7px;
  text-align: center;
  margin-bottom: 15px;
}

#popup button {
  padding: 5px;
  margin-top: 25px;
  margin-left: 10px;
  cursor: pointer;
}

#popup button:hover {
  color: green;
}

p {
  text-align: center;
}

/**Footer - starter**/
footer {
  background-color: #5c6f49;
  color: white;
  display: flex;
  padding: 25px;
  font-size: 0.6rem;
  gap: 10px;
  font-family: montserrat, sans-serif;
}

footer img {
  width: 33vw;
}
footer .social img {
  width: 4vw;
  text-align: end;
}

footer p {
  font-size: 10px;
}

footer #footer {
  gap: 45px;
}

footer .p1 {
  margin-left: 0px;
}

@media (min-width: 768px) {
  .burgerButton {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 1rem 1.5rem;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 0.6rem;
    font-weight: 400;
    gap: 20px;
  }

  .navbar .navbarLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .navbar .navbarLinks {
    position: fixed;
    top: -7%;
    left: 55%;
    width: 45vw;
    height: 27vh;
  }

  .navbar ul {
    flex-direction: row;
  }

  header img {
    width: 17vw;
  }

  a {
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    color: white;
  }

  header img {
    width: 17vw;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    gap: 40px;
  }

  #menu a {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    padding: 5px;
  }

  li {
    list-style: none;
  }

  /*MENUBAR - TABLET - SLUT*/
}

@media (min-width: 1200px) {
  #popup article {
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 4rem auto;
    border-radius: 25px;
    padding: 12px;
    background-color: #5c6f49;
  }

  #popup h2 {
    text-align: left;
    grid-column: 2/2;
    color: white;
  }

  #popup .kortbeskrivelse {
    grid-column: 2/3;
    grid-row: 1/4;
    margin-top: 95px;
    text-align: center;
    text-align: start;
  }

  #popup article .image {
    padding: 0px;
    display: grid;
    width: 200px;
    grid-column: 1/2;
    grid-row: 1/4;
  }

  #popup .ikon_wrapper img {
    height: 5rem;
  }

  #popup .tid {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 60px;
  }

  #popup button {
    padding: 5px;
    margin-top: 70px;
    margin-left: 121px;
    cursor: pointer;
  }
  /**Footer - starter**/
  footer {
    background-color: #5c6f49;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 0.6rem;
    gap: 10px;
  }

  footer img {
    width: 12vw;
  }
  footer .social img {
    width: 4vw;
    text-align: end;
  }

  footer p {
    font-size: 14px;
  }

  footer #footer {
    gap: 45px;
  }

  footer .p1 {
    margin-left: 845px;
  }

  .center {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
  }
}
